<?xml version="1.0" encoding="UTF-8"?>
<settings>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<application><name>RSSInjection</name><version>1.5</version><slug>rssinjection</slug><handler>rssinjectionsettings</handler></application><options>
		<header><![CDATA[<!-- this will appear at the top of the post -->]]></header><![CDATA[]]>
		<footer><![CDATA[<!-- this will appear at the bottom of the post -->]]></footer></options>
	<wordpress><wpslug>rss-injection</wpslug><donate_link>http://dcoda.co.uk/wordpress/donate/rss-injection/</donate_link><short_desc>Inject content into your RSS feed to entice people to subscribe or allow you to add a message so if the feed it aggregated onto another site it is at least attribute.</short_desc><tags>post</tags><tags>seo</tags><tags>added content</tags><tags>content scrapers</tags><tags>header</tags><tags>footer</tags><tags>rss</tags><stable_tag>1.5.28</stable_tag></wordpress></settings>
