.v25v .delete_icon
{
	padding:0;
	padding-left:20px;
	padding-top:20px;
	background-image:url('icon_delete.gif');
	background-position:left bottom;
	background-repeat:no-repeat;
	cursor:help;
}
.v25v .copy_icon
{
	padding:0;
	padding-left:20px;
	padding-top:20px;
	background-image:url('icon_copy.gif');
	background-position:left bottom;
	background-repeat:no-repeat;
	cursor:help;
}
.v25v label.info,
.v25v a.info,
.v25v span.info
{
	padding-right:20px;
	min-height:20px;
	background-image:url('icon_info.gif');
	background-position:right center;
	background-repeat:no-repeat;
	cursor:help;
}
.v25v .diag_icon
{
	padding:0;
	padding-left:20px;
	padding-top:20px;
	background-image:url('icon_diag.gif');
	background-position:left bottom;
	background-repeat:no-repeat;
	cursor:help;
}
.v25v .spacer_icon
{
	padding:0;
	padding-left:20px;
	padding-top:20px;
}
.v25v .column_name
{
	width:150px;
}
.v25v .column_table
{
	width:200px;
}
.v25v .column_instruciton
{
}
.v25v .column_action
{
	text-align:right;
}
.v25v .column_source
{
	width:60px;
}
.v25v input.copy,
.v25v input.delete,
{
	width:20px;
}
.v25v .row_new input
{
	width:200px;
}
.v25v .row_diag textarea
{
	width:100%;
	height:100px;
}
.v25v .column_first
{
	width:250px;
	vertical-align:text-top;
}
.v25v .row_show .column_second pre
{
	overflow:auto;
	width:800px;
	max-height:800px;
}
.v25v .row_action
{
	text-align:right;
}

