##
# Allow access to Redactor public files 
# @package Redactor
# @subpackage Redactor htaccess
# @copyright DCoda Ltd
# @author DCoda Ltd
# @license http://www.gnu.org/licenses/gpl.txt
# $HeadURL$
# $LastChangedDate$
# $LastChangedRevision$
# $LastChangedBy$
##RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]